@import "tailwindcss";


:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 33, 33, 33;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

/* Add these base styles to force the background and text colors */
@layer base {
  html {
    background-color: #212121;
    color: #ffffff;
  }

  body {
    background-color: #212121;
    color: #ffffff;
  }
}

/* Custom shadow for gold effects */
.shadow-gold {
  box-shadow: 0 0 10px rgba(205, 159, 39, 0.5);
}

.shadow-gold:hover {
  box-shadow: 0 0 15px rgba(205, 159, 39, 0.8);
}